!.dir-locals.el
!.envrc

*.aux
*.beam
*.cabal
*.glob
*.log
*.tsbuildinfo
*.vo
*_flymake.hs
.ghc.environment.*
.lein-*
.merlin
.nrepl-port
TAGS
node_modules
package-lock.json
pytest
stack.yaml.lock
yarn.lock

.gradle/
.stack-work/
__pycache__/
_build/
bower_components/
build/
dist-newstyle/
dist/
generated-code/
output/
project/
target/
tmp/
